*.o
*.so*
Makefile
*/Makefile
mace/mace
.qmake.stash
example/example
*.user*
*.a

/build-src-Desktop_Qt_5_7_1_MinGW_32bit-Debug/*
/build**
tools/*

*.Debug
*.Release
*.dll
*.lib
*.exe
*.a
node_modules
/bin/*
*.gypi
/src/common/debug/*
/src/common/release/*
/src/comms/debug/*
/src/comms/release/*
/src/data/debug/*
/src/data/release/*
/src/mace/debug/*
/src/mace/release/*
/src/mace_core/debug/*
/src/mace_core/release/*
/src/data_ardupilot/debug/*
/src/data_ardupilot/release/*
/src/module_ground_station/debug/*
/src/module_ground_station/release/*
/src/module_path_planning_NASAPhase2/debug/*
/src/module_path_planning_NASAPhase2/release/*
/src/module_RTA_NASAPhase2/debug/*
/src/module_RTA_NASAPhase2/release/*
/src/module_vehicle_MAVLINK/debug/*
/src/module_vehicle_MAVLINK/release/*
/include/*
/logs/*
/gui_dlls/*
/node_packages/*
ElectronGUI/.vscode/settings.json
ElectronGUI/PrebuiltBinaries*
PrebuiltBinaries/*
*.gnu

/logs/*
ElectronGUI/yarn-error.log
ElectronGUI/build
ElectronGUI/yarn.lock

/catkin_sim_environment/build/*
/catkin_sim_environment/devel/*
/Eigen/EigenFull/build**

/docs/html/*
/docs/latex/*


/catkin_sim_environment/src/matlab_gen/*

/MaceSetup_Configs/TestConfigs/*

MACE_Frontend/logs/*
MACE_Frontend/node_modules/
