<?xml version="1.0"?>

<launch>
  <arg name="uav_name" default="techpod"/>
  <arg name="model_name" default="base"/>
  <arg name="namespace" default="$(arg uav_name)"/>
  <arg name="aero_params_yaml_file" default="$(find sim_gazebo)/resources/fixed_wing/aero_params_$(arg uav_name).yaml"/>
  <arg name="vehicle_params_yaml_file" default="$(find sim_gazebo)/resources/fixed_wing/$(arg uav_name).yaml"/>
  <arg name="is_input_joystick" default="false"/>
  <arg name="model" default="$(find sim_vehicles_description)/urdf/$(arg uav_name)/$(arg uav_name)_$(arg model_name).xacro"/>
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="R" default="0.0"/>
  <arg name="P" default="0.0"/>
  <arg name="Y" default="0.0"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg uav_name)"/>
  <arg name="wait_to_record_bag" default="false"/>
  <arg name="enable_mavlink_interface" default="false"/>

  <arg name="world_frame" default="world"/> <!-- This should actually be "/world". See https://github.com/ros-simulation/gazebo_ros_pkgs/pull/324 -->
  <arg name="base_link_frame" default="$(arg tf_prefix)/base_link"/>

 <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro.py '$(arg model)'
    base_link_frame:=$(arg base_link_frame)
    world_frame:=$(arg world_frame)
    enable_logging:=$(arg enable_logging)
    enable_ground_truth:=$(arg enable_ground_truth)
    enable_mavlink_interface:=$(arg enable_mavlink_interface)
    log_file:=$(arg log_file)
    wait_to_record_bag:=$(arg wait_to_record_bag)
    uav_name:=$(arg uav_name)
    namespace:=$(arg namespace)
    aero_params_yaml_file:=$(arg aero_params_yaml_file)
    vehicle_params_yaml_file:=$(arg vehicle_params_yaml_file)
    is_input_joystick:=$(arg is_input_joystick)"
  />

  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_$(arg namespace)" pkg="gazebo_ros" type="spawn_model"
   args="-param robot_description
         -urdf
         -x $(arg x)
         -y $(arg y)
         -z $(arg z)
         -R $(arg R)
         -P $(arg P)
         -Y $(arg Y)
         -model $(arg namespace)"
   respawn="false" output="screen">
  </node>
</launch>
