<?xml version="1.0"?>

<robot name="pelican" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Instantiate pelican "mechanics" -->
  <xacro:include filename="$(find sim_vehicles_description)/urdf/asctec_pelican/asctec_pelican.xacro" />

  <!-- Kinect -->
  <xacro:include filename="$(find sim_sensors_description)/urdf/kinect_camera.urdf.xacro" />
  <xacro:kinect_camera name="kinect" parent="${namespace}/base_link">
    <origin xyz="0.15 0.0 -0.05" rpy="0 0 0"/>
  </xacro:kinect_camera>

</robot>

