<?xml version="1.0"?>

<launch>
  <arg name="model_name" default="kinect"/> <!-- OPTIONS: hokuyo_utm30lx, kinect, asus, asus_with_hokuyo_utm30lx, cam, downward_cam, all_up  -->
  <arg name="add_sensors" default="false"/>
  <arg name="world_name" default="turtlebot_playground"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="rviz_run" default="false"/>
  <arg name="rviz_config" default="-d $(find sim_gazebo)/rviz/default.rviz"/>


  <include file="$(find sim_gazebo)/launch/start_world.launch">
    <arg name="world_name" value="$(find sim_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <group if="$(arg add_sensors)">
    <group ns="basic_quadrotor">
      <include file="$(find sim_vehicles_description)/launch/spawn/spawn_basic_quadrotor.launch">
        <arg name="name" value="basic_quadrotor"/>
        <arg name="model" value="$(find sim_vehicles_description)/urdf/basic_quadrotor/basic_quadrotor_$(arg model_name).gazebo.xacro"/>
      </include>
    </group>
  </group>

  <group unless="$(arg add_sensors)">
    <group ns="basic_quadrotor">
      <include file="$(find sim_vehicles_description)/launch/spawn/spawn_basic_quadrotor.launch">
        <arg name="name" value="basic_quadrotor"/>
        <arg name="model" value="$(find sim_vehicles_description)/urdf/basic_quadrotor/basic_quadrotor.gazebo.xacro"/>
      </include>
    </group>
  </group>

  <!-- Start rviz visualization with preset config -->
  <group if="$(arg rviz_run)">
    <node name="rviz" pkg="rviz" type="rviz" args="$(arg rviz_config)" />
  </group>

</launch>
