<?xml version="1.0" encoding="UTF-8"?>
<launch>

   <arg name="name" default="quadrotor"/>
   <arg name="model" default="basic_quadrotor"/>
   <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
   <arg name="x" default="0.0"/>
   <arg name="y" default="0.0"/>
   <arg name="z" default="0.25"/>

   <include file="$(find sim_vehicles_description)/launch/spawn/spawn_basic_quadrotor.launch">
    <arg name="name" value="$(arg name)"/>
    <arg name="model" value="$(find sim_vehicles_description)/urdf/basic_quadrotor/$(arg model).gazebo.xacro"/>
    <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>   
  </include>

</launch>
