<?xml version="1.0"?>

<launch>
  <arg name="uxv_name" default="techpod"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="10.0"/>
  <arg name="R" default="0.0"/>
  <arg name="P" default="0.0"/>
  <arg name="Y" default="0.0"/>

  <!-- The following line causes gzmsg and gzerr messages to be printed to the console
      (even when Gazebo is started through roslaunch) -->
  <arg name="verbose" default="false"/>

  <group ns="$(arg uxv_name)">
    <include file="$(find sim_gazebo)/launch/spawn/spawn_fixed_wing.launch">
      <arg name="uav_name" value="$(arg uxv_name)" />
      <arg name="model" value="$(find sim_vehicles_description)/urdf/$(arg uxv_name)/$(arg uxv_name)_base.xacro" />
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
      <arg name="R" value="$(arg R)"/>
      <arg name="P" value="$(arg P)"/>
      <arg name="Y" value="$(arg Y)"/>
    </include>
  </group>

</launch>
