*.o
*.so*
Makefile
*/Makefile
mace/mace
.qmake.stash
example/example


*.Debug
*.Release
*.dll
*.exe
/src/common/debug/*
/src/common/release/*
/src/comms/debug/*
/src/comms/release/*
/src/data/debug/*
/src/data/release/*
/src/mace/debug/*
/src/mace/release/*
/src/mace_core/debug/*
/src/mace_core/release/*
/src/data_ardupilot/debug/*
/src/data_ardupilot/release/*
/src/module_ground_station/debug/*
/src/module_ground_station/release/*
/src/module_path_planning_NASAPhase2/debug/*
/src/module_path_planning_NASAPhase2/release/*
/src/module_RTA_NASAPhase2/debug/*
/src/module_RTA_NASAPhase2/release/*
/src/module_vehicle_MAVLINK/debug/*
/src/module_vehicle_MAVLINK/release/*