.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    display: inline-block;
}

/* .inputfile:focus + label,
.inputfile + label:hover {
    background-color: black;
    opacity: 0.1
} */
